
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 5vh;
    background-color: rgb(72, 162, 231);
    position: sticky;
    top: 0;
    width: 95.2%;
    height: 3vw;
    z-index: 2;
  }
  
  
  /* Logo styles */
  .img_elec {
    width: 15vh;
    height: 15vh;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 3vh;
}

.nav-logo p {
  color: #171717;
  font-size: 6vh;
  font-weight: 600;
}

/* Menu styles */


.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
  cursor: pointer;
}



/* Login and cart styles */
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 6vh;
}

.nav-login-cart button {
  width: 20vh;
  height: 8vh;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #fefefe;
  font-size: 3vh;
  font-weight: 500;
  background: rgb(5, 5, 5);
  cursor: pointer;
}

.nav-login-cart button:active {
  background-color: #f3f3f3;
}

.nav-cart-count {
  width: 3vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5vh;
  margin-left: -7vh;
  border-radius: 11px;
  font-size: 2vh;
  background: red;
  color: white;
}

/* Media query for responsiveness */

@media screen and (max-width: 763px) {
  .navbar {
  
    width: 179.8vh;
    height: 65vw;
    position: sticky;
    top: 0px;
    z-index: 10;
    
  }
  .nav-logo p {
    color: #171717;
    font-size: 10vh;
    font-weight: 600;
  }
  .img_elec {
    width: 25vh;
    height: 48vw;
}
.nav-login-cart button {
  width: 45vh;
  height: 29vw;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 7vh;
  color: #fefefe;
  font-size: 7vh;
  font-weight: 500;
  background: rgb(5, 5, 5);
  cursor: pointer;
}

.nav-login-cart button:active {
  background-color: #f3f3f3;
}

.nav-cart-count {
  width: 7vh;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-19vw;
  margin-left: -9vh;
  border-radius: 2vh;
  font-size: 7vh;
  font-weight: 900;
  background: red;
  color: white;
}
.nav-login-cart img{
  width: 13vh;
}
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    width: 92%; /* Adjust width for iPads */
    padding: 3vh; /* Modify padding for iPads */
  }

  .nav-logo p {
    font-size: 3vh; /* Adjust font size for logo text on iPads */
  }

  .nav-menu li {
    gap: 2vh; /* Adjust gap between menu items for iPads */
  }
  .img_elec {
    width: 5vh;
    height: 5vh;
}
  .nav-login-cart button {
    width: 14vh; /* Adjust button width for iPads */
    height: 5vh; /* Adjust button height for iPads */
    font-size: 2.5vh; /* Adjust font size for buttons on iPads */
  }

  .nav-cart-count {
    width: 2vh; /* Adjust width for cart count on iPads */
    height: 3vh; /* Adjust height for cart count on iPads */
    margin-top: -3vh; /* Modify margin for cart count on iPads */
    margin-left: -7vh; /* Modify margin for cart count on iPads */
    font-size: 1.5vh; /* Adjust font size for cart count on iPads */
  }
  .nav-login-cart img{
    width: 4vh;
  }
}


